<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify ReRewind</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<script src="index.js"></script>
	<main>
		<h1> Spotify ReRewind </h1>
		<p>This is the Spotify ReRewind. Click and login to find interesting statistics about your own spotify stats.</p>
		<a href="/spotify">Find Out Now</a>
	</main>
  </body>
</html>
